!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! experiments with font:
! https://wiki.gentoo.org/wiki/Rxvt-unicode#Font
Xft.dpi:                    96
Xft.antialias:              true
! Xft.rgba:                   none
Xft.hinting:                true
Xft.hintstyle:              hintfull
